In [7]:
len("iuyt")

4

In [10]:
for i in range(len("test")):
  print("test"[len("test") - (i+1)])

t
s
e
t

In [5]:
vovel="aeiouAEIOU"
name="something"
vovel.casefold()

'aeiouaeiou'

In [15]:
# Inplace operation
"S" in name

False

In [30]:
1.9999999999999999 in [2, 4, 5]

False

In [31]:
2.0 == 2

True

In [37]:
#inplace operation = mutate
lst=['a', 'b', 'c']
lst.reverse()
print(lst)
lst.sort()
lst

['c', 'b', 'a']

['a', 'b', 'c']

In [42]:
#extend to add a list to another list as elements.
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
m[:][:]

[[7, 8, 9]]

In [45]:
[i if (i%2==0) else ".." for i in range(0,10)]

[0, '..', 2, '..', 4, '..', 6, '..', 8, '..']

In [48]:
a=0
lst = [1,2,3,4,5,6,7,8]
if i%2==0 in lst:
  a+i

a

0

In [62]:
mm = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[m for n in mm for n in m]

[[[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]]]

In [ ]:
## Assignment
## Using both code and List comprehesnion
# Example 2: Create a List of only the prime numbers from a given list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Example 3: Create a List of all the possible combinations of 2 elements from a List
numbers = [1, 2, 3, 4, 5]

In [61]:
mm = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[j for i in mm for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
# Best solution
mm = [1, 2, 3, 4, 5, 6, 7, 8, 9]
mm.insert(1000, 7)
print(mm)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 7]

In [65]:
mm

[[1, 2, 3], [4, 5, 6], 7, [7, 8, 9]]

In [74]:
None

In [76]:
num1= 23

num2= 44

num2= 2+3j

num1= num2.imag

num2-num1

(-1+3j)

In [77]:
_pw_skills = 2

In [78]:
"""Test"""

'Test'

In [79]:
"""
lll
"""

'\nlll\n'

In [80]:
'''
ll
'''

'\nll\n'

In [95]:
numbers = (1,2,3,4,5, 5,4,3,2,1)

list=[]

for number in numbers:

   list.append(number**2)

print(tuple(set(list)))

(1, 4, 9, 16, 25)

In [4]:
from wsgiref.simple_server import sys_version


sys_version

str

In [11]:
test="b"

In [7]:
t = (True, 45+7j, 45)

type(t[1])

complex

In [20]:
t1 = (1, 2, [3, 4])
t1[2][1] = 5
del(t1)

In [23]:
3 in t1[2]

True

In [24]:
set1 = {1, 2 ,2 ,3}
set1

{1, 2, 3}

In [29]:
set1.add(0)
set1.add(4)
set1.add(7)
set1.add(5)

In [33]:
set2 = {1,4,7}
set3 = set1.difference(set2)
set2.clear()
set3

{0, 2, 3, 5}

In [34]:
num = 2
sum, count = 0, 0

while num <=20:
  sum += num
  num += 2
  count+=1

print(sum)

110

In [35]:
2+4+6+8+10+12+14+16+18+20

110

In [ ]:
print("jhg")

: